# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp
AccessModifierOffset: -4                        # public: private: 들여쓰기 offset
AlignAfterOpenBracket: Align                    # 매개변수 정렬
AlignConsecutiveAssignments: true               # 연속적인 변수 초기화 정렬
AlignConsecutiveDeclarations: true              # 연속적인 타입 변수 정렬
AlignEscapedNewlines: Left                      # \ 줄바꾸기 가장 가까운 쪽
AlignOperands:   true                           # 연산자 정렬
AlignTrailingComments: true                     # 끝의 주석 정렬
AllowAllParametersOfDeclarationOnNextLine: true # 길면 다음 줄로
AllowShortBlocksOnASingleLine: true             # 짧은 {} 한 줄로
AllowShortCaseLabelsOnASingleLine: true         # case 문 짧으면 한 줄로
AllowShortFunctionsOnASingleLine: All           # 짧은 코드 한 줄로
AllowShortIfStatementsOnASingleLine: true       # if 한 줄로
AllowShortLoopsOnASingleLine: true              # 짧은 루프 한 줄로
# AlwaysBreakAfterDefinitionReturnType: None    # 사라짐
AlwaysBreakAfterReturnType: None                # 리턴타입 줄 바꿈
AlwaysBreakBeforeMultilineStrings: false        # 여러 줄 str 처음 줄 바꿈
AlwaysBreakTemplateDeclarations: Yes            # 템플릿 줄 바꿈
BinPackArguments: true                          # 매개변수 정렬
BinPackParameters: false                        # 선언시 매개변수 정렬
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: true                   # if, else, for 등 다음줄에 { 시작
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: false
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: All                 # 연산자 전에 줄 바꿈
BreakBeforeBraces: Custom                       # BraceWrapping Custom
BreakBeforeTernaryOperators: true               # ? : 연산자 전에 줄 바꿈
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
# BreakAfterJavaFieldAnnotations: false
# BreakStringLiterals: true
ColumnLimit:     100                            # 한 줄 간격
# CommentPragmas:  '^ IWYU pragma:'
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false                     # {} 안에 띄어쓰기
DerivePointerAlignment: false                   # .PointerAlignmet fallback
DisableFormat:   false
# ExperimentalAutoDetectBinPacking: false
# FixNamespaceComments: true
# ForEachMacros:
#   - foreach
#   - Q_FOREACH
#   - BOOST_FOREACH
IncludeBlocks:   Preserve
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        3
  - Regex:           '.*'
    Priority:        1
IncludeIsMainRegex: '(Test)?$'
IndentCaseLabels: true                          # switch case indent
IndentPPDirectives: AfterHash                   # 전처리 indent
IndentWidth:     4
IndentWrappedFunctionNames: true
# JavaScriptQuotes: Leave
# JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: false         # 시작시 빈줄 제거
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 1                          # 최대 빈 줄
NamespaceIndentation: All
# ObjCBlockIndentWidth: 4
# ObjCSpaceAfterProperty: false
# ObjCSpaceBeforeProtocolList: true
# PenaltyBreakAssignment: 2
# PenaltyBreakBeforeFirstCallParameter: 19
# PenaltyBreakComment: 300
# PenaltyBreakFirstLessLess: 120
# PenaltyBreakString: 1000
# PenaltyExcessCharacter: 1000000
# PenaltyReturnTypeOnItsOwnLine: 60
PointerAlignment: Right                         # uint16_t *a;
# RawStringFormats:
#   - Delimiter:       pb
#     Language:        TextProto
#     BasedOnStyle:    google
ReflowComments:  false                          # comment 줄 변경
SortIncludes:    false
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true            # = 앞 공백
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Never                        # () 앞 띄어쓰기
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 4                 # // 앞 공백
SpacesInAngles:  false
SpacesInCStyleCastParentheses: true
SpacesInContainerLiterals: true
SpacesInParentheses: true
SpacesInSquareBrackets: false
Standard:        Cpp11
TabWidth:        4
UseTab:          Never
