# /dev/spidev
KERNEL=="spidev*", GROUP="spi", MODE="0660"

# /dev/i2c-
KERNEL=="i2c-*", GROUP="i2c", MODE="0660"

# /sys/class/gpio
SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c 'find -L /sys/class/gpio/ -maxdepth 2 -exec chgrp -HR gpio {} \; -exec chmod -R 770 {} \; || true'"